:root {
  --text-color: #5b5b5b;
  --dark-color: #000000;
  --heading-color: #0d1317;
  --primary-color: #232ed1;
  --orange-color: #f24c27;
  --white-color: #ffffff;
}

html {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important ;
  cursor: pointer;
  outline: none;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}
/* navbar */

.navbar-bg {
  background-color: #eeeffc;
}

.navbar-brand {
  padding-right: 32px;
}

.nav-link {
  padding: 0 16px !important;
  color: var(--text-color);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.nav-link.active {
  color: var(--primary-color) !important;
}

.btn-clone-project {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--heading-color);
  background-color: inherit;
  border: none;
  padding: 16px 32px;
  border: 2px solid rgba(35, 46, 209, 0.4);
  border-radius: 5px;
}

.btn-clone-project:hover {
  background-color: var(--primary-color);
  opacity: 0.7;
  color: var(--white-color);
}

.hero-heading {
  font-weight: 600;
  font-size: 64px;
  line-height: calc(68 / 64);
  font-style: normal;
  letter-spacing: -0.03em;
  color: var(--heading-color);
  /* padding-right: 112px; */
}

.hero-desc {
  max-width: 513px;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--text-color);
  padding-top: 32px;
}

.button {
  padding: 18px 32px;
  border-radius: 5px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease-in;
  max-width: 250px;
}

.button:hover {
  opacity: 0.7;
  color: var(--white-color);
}

.button-pricing:hover {
  background-color: var(--orange-color);
  color: var(--dark-color);
}

.button-pricing {
  margin-left: 12px;
}

.button-primary {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

/* customer section */
.customer-section {
  margin-bottom: 256px;
}
.customer-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: var(--heading-color);
  padding-top: 128px;
  padding-bottom: 48px;
}
.customer-box {
  box-sizing: border-box;
  /* max-width: 452px; */
  background: linear-gradient(
    180deg,
    rgba(182, 186, 255, 0.2) 0%,
    rgba(35, 46, 209, 0.2) 100%
  );
  border-radius: 12px;
}

.row-customer {
  box-sizing: border-box;
  /* gap: 0 16px; */
}
.customer-inner {
  padding: 32px;
}
.customer-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  max-width: 197px;
  color: var(--dark-color);
}
.customer-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: var(--heading-color);
}

.rate-star img {
  cursor: pointer;
}

.rate-star img:hover {
  opacity: 0.7;
}

/* FAQ */
.faq-section {
  padding-top: 460px;
}
.container-faq {
  width: 934px;
}

.faq-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 106.5%;
  margin-bottom: 90px;

  letter-spacing: -0.03em;

  color: var(--heading-color);
  max-width: 95px;
}

.number-faq {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 171%;
  color: var(--text-color);
  max-width: 23px;
  margin-right: 40px;
  transform: translateY(-4px);
}
.number-faq.active {
  color: #0010ff;
}

.main-faq {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-color);
}

.sub-faq {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  max-width: 871px;
  color: var(--text-color);
}

.border-bottom {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
}

/* footer section */
.footer-section {
  background: #eff0f8;
}
.footer-container {
  padding-top: 278px !important;

  /* background: #eff0f8; */
}

.socials-icons i {
  color: var(--text-color);
}

.socials-icons i:hover {
  color: var(--primary-color);
}

.main-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: var(--dark-color);
}

.sub-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color);
}

.blue-bg-container {
  background-color: var(--primary-color);
}

.left-box {
  border-bottom-left-radius: 10px;
  transform: translateX(-56px);
  width: 32px;
  height: 32px;
  background-color: var(--orange-color);
}

.right-box {
  border-bottom-right-radius: 6px;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  transform: translateX(40px);
}

.blue-bg {
  padding: 101px 130px;
}
.btn-view-pricing {
  background-color: var(--orange-color);
}

.btn-view-pricing:hover {
  background-color: white;
  color: var(--dark-color);
  opacity: 1;
}
.header-inner-bluebg p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 106.5%;
  letter-spacing: -0.03em;
  max-width: 461px;
  color: var(--white-color);
}

.btn-view-pricing {
  border-radius: 5px;
  max-width: 256px;
  height: 72px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 171%;
  max-width: 149px;
  color: var(--white-color);
}

/* subcribe */
.subcribe {
  margin-top: 120px !important;
  padding-bottom: 80px;
}
.subcribe-left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 141%;
  letter-spacing: -0.03em;
  color: var(--text-color);
  max-width: 386px;
}
.wrapper-subcriber {
  max-width: 845px;
  height: 89px;
  border-radius: 5px;
  background-color: var(--white-color);
}
.input-email {
  border: none;
  outline: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.75;
  color: var(--text-color);
}

.btn-subcribe {
  border: none;
  outline: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  max-width: 325px;
  text-transform: capitalize;
  color: var(--white-color);
  background-color: var(--orange-color);
  border-radius: 5px;
}
.copyright-bg {
  background-color: var(--primary-color);
}

.copyright-bg p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 141%;
  letter-spacing: -0.03em;
  color: var(--white-color);
}

/* pricing section */
.pricing-section {
  background-image: linear-gradient(
    to bottom,
    rgba(35, 46, 209, 0.08),
    rgba(35, 46, 209, 0.08)
  );

  font-family: "Poppins";
  font-style: normal;
  padding-top: 192px;
}

.pricing-section .hero-desc {
  max-width: 481px;
}

.pricing-box,
.pricing-box-orange {
  background: linear-gradient(180deg, #ffffff 52.08%, #ecedff 100%);
  transform: translateY(45%);
}

.box-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 106.5%;
  letter-spacing: -0.03em;
  color: var(--dark-color);
}
.box-price {
  font-size: 24px;
  color: var(--heading-color);
  font-weight: 600;
}
.box-price span {
  font-size: 36px;
  line-height: 106.5%;
  letter-spacing: -0.03em;
  color: var(--heading-color);
}
.pricing-feature i {
  width: 18px;
  color: var(--primary-color);
  height: 12px;
}
.box-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color);
  max-width: 327px;
}
.pricing-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 153%;
  color: var(--text-color);
}
.btn-outline-primary {
  margin-top: 134px;
  padding-bottom: 56px;
  border: 2px solid #232ed1;
  border-radius: 7px;
  outline: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 171%;
  color: var(--primary-color);
  background: linear-gradient(180deg, #ecedff 100%, #ecedff 100%);
  transition: all linear 0.5s ease-in;
}
.btn-outline-primary:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
.pricing-box-orange {
  background: linear-gradient(180deg, #ffffff 52.6%, #ffe8e2 100%);
}
.pricing-box-orange .pricing-feature i {
  color: var(--orange-color);
}
.pricing-box-orange .btn-outline-primary {
  margin-top: 76px;
  border: 2px solid var(--orange-color);

  color: var(--white-color);
  background: var(--orange-color);
}

.pricing-box-orange .btn-outline-primary:hover {
  background-color: inherit;
  color: var(--orange-color);
}
